* {
  font-family: "Roboto", serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: #1F2937;
}

.logo-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
}
.header-text {
  color: #F9FAF8;
  font-size: 24px;
  margin-left: 40px;
}

.link-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
  gap: 10px;
}

.link {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero {
  display: flex;
  background-color: #1F2937;
  flex-direction: row;
  padding-bottom: 50px;
}

.hero-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-main-text {
  flex: 1 1 auto;
  display: flex;
  color: #F9FAF8;     /* <-- make text white */
  font-size: 48px;
  font-weight: 900;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 1px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
}

.button {
  background-color: #3882F6;
  color: white;
  padding: 8px 40px;
  margin: 5px 0 20px 40px;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}


.hero-image-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-right: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.hero-image {
  height: 250px;
  width: auto;
}

.information {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.information-container {
  flex: 1 1 auto;
  display: flex;
}

.information-main-text {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.information-image-container { 
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.information-inner-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.information-inner-container .information-image {
  height: 200px;
  width: auto;
  border-radius: 5px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.image-text {
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.quote-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
  background-color: #E5E7EB
}

.quote-window {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.quote-text {
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-source {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
}

.action {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  background-color: #3882F6;
  border-radius: 5px;
  margin: 80px 150px;
  padding: 40px 40px;
}

.action-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.action-call {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action-call-main-text {
  font-weight: 900;
  color: white;
  margin-bottom: 1px;
}

.action-call-secondary-text {
  margin-top: 1px;
  color: white;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.action-sign-up {
  color: white;
  border: 1px solid white;
  background-color: #3882F6;
  border-radius: 5px;
  padding: 6px 30px;
}

.footer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1F2937;
}

.footer-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-text {
  color: white;
}